/* CSS */

* {
  box-sizing: border-box;
}

/* BODY */

body {
  margin: 0;
  background-color: #bbb;
}

/* DIV */

.box {
  /* SIZZING & MARGIN */
  width: 300px;
  height: 200px;
  margin: 50px auto;
  /* El primer valor define el margen en la vertical 
  y el segundo en la horizontal; */
  padding: 50px;

  /* POSITION */
  position: static;

  /* DISPLAY */

  /* OTHERS */

  border: 1px solid red;
  background-color: aquamarine;
}
